# Python
backend/venv/
__pycache__/
*.pyc

# Environment files
.env
backend/.env
frontend/.env

# Node
frontend/node_modules/
frontend/dist/

# VS Code
.vscode/

# Uploaded PDF files
backend/uploads/

# MongoDB Credentials
#Username: aiuser
#Password: AiTeach12345